<div class="row">
  <div class="col-xs-12 col-sm-12">


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
                 <img class="img-thumbnail" src="images/homepage/0car.jpg" alt="Chania">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1>
                        <span><strong>КиноУпс - сайт для просмотра бесплатных фильмов</strong></span>
                    </h1>
                </div>
            </div>

        </div>
        <div class="item">
            <img class="img-thumbnail" src="images/homepage/1car.jpg" alt="Chania">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span><strong>
                            <em>Разные отсортированные списки фильмов по рейтингу и оценкам</em>
                            </strong>
                        </span>
                    </h2>
                </div>
            </div>


        </div>
        <div class="item">
                    <img class="img-thumbnail" src="images/homepage/2car.jpg" alt="Chania">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span><em>Отдыхайте и смотрите фильмы бесплатно</em></span>
                    </h2>
                </div>
            </div>

        </div>


        <div class="item">
            <img  class="img-thumbnail" src="images/homepage/3car.jpg" alt="Flower">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span><em><strong>Выбирайте фильмы и смотрите их бесплатно</strong>></em></span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="img-thumbnail" src="images/homepage/4car.jpg" alt="Flower">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span><em><strong>Отдыхайте и смотрите бесплатно</strong></em></span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->


</div>
  </div>

</div>
