<!DOCTYPE html>
<html>
<head>
    <title> О сайте -  </title>
    <title><i class="icon-user icon-black"></i>Webnet</title>
    <link href="/css/homepage.css" rel="stylesheet"/>
    <link href="/css/about.css" rel="stylesheet"/>
    <% include embeded/headfile.ejs %>
    <style type="text/css">
    </style>
</head>

<body>
<% include embeded/navigationbar.ejs %>


    <div id = "txt" class="container">
        <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <h1>
                        О сайте
                    </h1>
                </div>
            <div class="col-xs-4 col-sm-4">
                <h1>
                    Контакты
                </h1>
            </div>


        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <h4>
                    <em>
                        КиноУпс – это развлекательный и информационный сайт который предоставляет пользователям возможность выбирать и смотреть самые лучшие фильмы по разным категориям (по жанру, по странам, по оценкам зрителей и т.д.). Удобный в пользовании, сайт дает возможность добавлять фильмы в корзину, которых пользователи хотели бы посмотреть позднее, чтобы сделать поиск фильмов еще быстрее. А также, так как в разных регионах СНГ на скорость интернета может повлиять сервер на котором просматривается фильм, наша команда дает пользователям самим выбирать сайт для просмотра какого либо фильма. Мы выбрали самые скоростные сервера СНГ (или же сайты) для просмотра фильма (такие как kinogo, gidonline, megogo). На своем опыте мы знаем, сейчас стало очень трудно находить хорошие, качественные и бесплатные фильмы из огромного множества ежедневно появляющихся на свет кино.  Этот долгий процесс нахождения фильма, мы сделали очень коротким.
                    </em>
                </h4>
        </div>

            <div class="col-xs-4 col-sm-4">
                <p>
                    <strong>email:</strong> <em>kadirpili@gmail.com</em>
                </p>

                <img class="img-responsive" src="/images/homepage/icon1.png"/>
            </div>
        </div>

    </div>

<% include embeded/footer.ejs %>
</body>
</html>
