<!DOCTYPE html>
<html>
<head>
    <link href="/css/moviepage.css" rel="stylesheet"/>
    <title> <%=name%> </title>
    <style>
        .img-thumbnail {
            width:100%;
        }
    </style>
    <% include ../embeded/headfile.ejs %>
</head>

<body>
    <% include ../embeded/navigationbar.ejs %>
    <% include ../embeded/movieshower.ejs%>
    <% include ../embeded/footer.ejs %>
</body>
</html>
